* {
    font-family: 'Segoe UI';
   }

   body, html {
    height: 100%;
  }

body {
    padding: 0;
    margin: 0;
    
}
.body-eng {
    background-image: url("/images/English-BG.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
   
}

.body-fil {
    background-image: url("/images/Filipino-BG.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.body-math {
    background-image: url("/images/Math-BG.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.body-sci {
    background-image: url("/images/Science-BG.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

a:hover {
    color: #e7e7e7;
    text-decoration: none;
}

/* change the background color */
.navbar-eng {
    padding: 10px;
    color: white;
    background-color: #64A23A;
    
}

.navbar-fil {
    padding: 10px;
    color: white;
    background-color: #8d5a18;
}

.navbar-math {
    padding: 10px;
    color: white;
    background-color: #38a2cc;
}

.navbar-sci {
    padding: 10px;
    color: white;
    background-color: #995faf;
}

/* change the brand and text color */
.navbar-brand {
    font-family: 'Segoe UI', sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;

    margin-left: 45%;
}

.navbar-back {
    font-family: 'Segoe UI', sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.right {
    text-align: right;
    float: right;
}


/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* English*/
.container-eng {
    position: relative;
    background-color: #72b148;
    width: 20%;
    border-radius: 30px;
    margin: auto;
    margin-left: 5%;
    top: 110px;
    margin-bottom: 50px;
}

.container-eng-question {
    position: relative;
    background-color: #72b148;
    width: 40%;
    height: 65%;
    border-radius: 30px;
    margin: auto;
    margin-left: 5%;
    top: 110px;
    margin-bottom: 50px;
}

.container-eng-noquestion {
    position: relative;
    background-color: #72b148;
    width: 20%;
    height: auto;
    border-radius: 30px;
    
    margin: auto;
    margin-left: 5%;
    top: 110px;
    
}

.button-eng{
    background-color: white; /* Green */
    border: none;
    color: #4CAF50;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 175%;
    border-radius: 25px;
    margin-left: 3%;
    margin-bottom: 5%;
    width: 40%;
    font-weight: bold;
  }

  .btn-eng{
    background-color: #4CAF50;    
    color: white;    
    padding: 0px 50px;   
    text-align: center;    
    text-decoration: none;   
    display: inline-block;    
    font-size: 35px;  
    font-weight: bold;  
    margin:5px 20px;    
    cursor: pointer;    
    float: right;    
    border-radius: 100px;  
    border-width: 3px;  
    border-style: solid;
}


/* Filipino*/

.container-fil {
    position: relative;
    background-color: #99815f;
    width: 20%;
    border-radius: 30px;
    margin: auto;
    margin-left: 5%;
    top: 110px;
    margin-bottom: 50px;
}

.container-fil-question {
    position: relative;
    background-color:  #99815f;
    width: 40%;
    height: 65%;
    border-radius: 30px;
    margin: auto;
    margin-left: 5%;
    top: 110px;
    margin-bottom: 50px;
}

.container-fil-noquestion {
    position: relative;
    background-color: #99815f;
    width: 20%;
    height: auto;
    border-radius: 30px;
    
    margin: auto;
    margin-left: 5%;
    top: 110px;
}

.button-fil{
    background-color: white; /* Green */
    border: none;
    color: #99815f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 175%;
    border-radius: 25px;
    margin-left: 3%;
    margin-bottom: 5%;
    width: 40%;
    font-weight: bold;
  }

  .btn-fil{
    background-color:  #99815f;  
    color: white;    
    padding: 0px 50px;   
    text-align: center;    
    text-decoration: none;   
    display: inline-block;    
    font-size: 35px;  
    font-weight: bold;  
    margin:5px 20px;    
    cursor: pointer;    
    float: right;    
    border-radius: 100px;  
    border-width: 3px;  
    border-style: solid;
}


/*Science*/

.container-sci {
    position: relative;
    background-color: #723b86;
    width: 20%;
    border-radius: 30px;
    margin: auto;
    margin-left: 5%;
    top: 110px;
    margin-bottom: 50px;
}

.container-sci-question {
    position: relative;
    background-color:  #723b86;
    width: 40%;
    height: 65%;
    border-radius: 30px;
    margin: auto;
    margin-left: 5%;
    top: 110px;
    margin-bottom: 50px;
}

.container-sci-noquestion {
    position: relative;
    background-color: #723b86;
    width: 20%;
    height: auto;
    border-radius: 30px;
    
    margin: auto;
    margin-left: 5%;
    top: 110px;
}

.button-sci{
    background-color: white; /* Green */
    border: none;
    color:#723b86;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 175%;
    border-radius: 25px;
    margin-left: 3%;
    margin-bottom: 5%;
    width: 40%;
    font-weight: bold;
  }

  .btn-sci{
    background-color: #723b86;    
    color: white;    
    padding: 0px 50px;   
    text-align: center;    
    text-decoration: none;   
    display: inline-block;    
    font-size: 35px;  
    font-weight: bold;  
    margin:5px 20px;    
    cursor: pointer;    
    float: right;    
    border-radius: 100px;  
    border-width: 3px;  
    border-style: solid;
}


/* Math*/
.container-math {
    position: relative;
    background-color: #3a7f9b;
    width: 20%;
    border-radius: 30px;
    margin: auto;
    margin-left: 5%;
    top: 110px;
    margin-bottom: 50px;
}

.container-math-question {
    position: relative;
    background-color:  #3a7f9b;
    width: 40%;
    height: 65%;
    border-radius: 30px;
    margin: auto;
    margin-left: 5%;
    top: 110px;
    margin-bottom: 50px;
}

.container-math-noquestion {
    position: relative;
    background-color:  #3a7f9b;
    width: 20%;
    height: auto;
    border-radius: 30px;
    
    margin: auto;
    margin-left: 5%;
    top: 110px;
}

.button-math{
    background-color: white; /* Green */
    border: none;
    color: #3a7f9b;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 175%;
    border-radius: 25px;
    margin-left: 3%;
    margin-bottom: 5%;
    width: 40%;
    font-weight: bold;
  }


  .btn-math{
    background-color: #3a7f9b;    
    color: white;    
    padding: 0px 50px;   
    text-align: center;    
    text-decoration: none;   
    display: inline-block;    
    font-size: 35px;  
    font-weight: bold;  
    margin:5px 20px;    
    cursor: pointer;    
    float: right;    
    border-radius: 100px;  
    border-width: 3px;  
    border-style: solid;
}


/*containers*/









.main-panel{
    margin: auto;
    width: 100%;
}

.box-answer{
    margin: auto;
    width: 80%;
    height: auto;
    background-color: #e7e7e7;
}

.image {
    height: 300px;
    width: 300px;
    padding: 20px;
}

.column-desc {
    padding: 20px;
    padding-left: 10px;
    width: 100%;
}

h1 {
    color: white;
    font-family: 'Segoe UI';
    margin-left: 10%;
}

h3 {
    color: white;
    font-family: 'Segoe UI';
    font-size: 100%;
    margin-left: 5%;
}

h4 {
    color: white;
    font-family: 'Segoe UI';
    font-size: 100%;
    margin-left: 5%;
}

hr {
    border: 1% solid #ffffff;
    font-family: 'Segoe UI';
    width: 85%;
    
}

p{
    color: white;
    font-size: 100%;
    font-family: 'Segoe UI';
    margin-left: 10%;
}
.btn-selection{
    margin-left: 10px;
    width: 100%;
    height: auto;
    margin-left: 9%;
}







