body{
    margin: 0px;
    overflow-x: hidden;
  }
  .btn_back{
    top: 20px;
    margin-top: 20px;
    margin-right: 30px;
    height: 60px;
    border-radius: 45px;
    border-width: 7px;
    border-color: #2FBFD7;
    background-color: #1D9CAD;
    border-style: solid;
    color: white;
    width: 180px;
    font-size: 30px;
    float: right;
    font-family: 'Segoe UI';
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
  }
  
  .container{
    height: 2200px;
    background-image: url("/images/Progress_EnglishBg.svg");
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-size: cover;
  }
  .hove{
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: -10px;
      font-family: 'Segoe UI';
      font-size: 20px;
      transition: 0.7s;
      line-height: 110px;
      width: 0px;
      font-weight: bold;
  }
  
  div.circle1{
    position: absolute;
    left: 50%; 
    top: 31%; 
    background: #2FBFD7;
    transform: translate(-40%, -50%);
    border-radius: 70px;
    transition: 1s;
    
  }
  .circle1:hover  .hove{
    width: 200px;
    height: 0 3px;
  }
  .circle{
    width: 120px;
    height: 120px;
  }
  div.circle2{
    left: 30%; 
    top: 50%; 
    position: absolute;
    background: white;
    transform: translate(-40%, -50%);
    transition: 1s;
    background: #2FBFD7;
    border-radius: 70px;
  }
  .circle2:hover > .hove{
    width: 150px;
    height: 0 3px;
  }
  div.circle3{
    left: 80%; 
    top: 70%; 
    position: absolute;
    background: white;
    transform: translate(-40%, -50%);
    transition: 1s;
    background: #2FBFD7;
    border-radius: 70px;
  }
  .circle3:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle4{
    left: 17%; 
    top: 98%; 
    position: absolute;
    background: white;
    transform: translate(-40%, -50%);
    transition: 1s;
    background: #2FBFD7;
    border-radius: 70px;
  }
  .circle4:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle5{
    left: 45%; 
    top: 140%; 
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2FBFD7;
    border-radius: 70px;
  }
  .circle5:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle6{
    left: 82%; 
    top: 163%; 
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2FBFD7;
    border-radius: 70px;
  }
  .circle6:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle7{
    left: 30%; 
    top: 200%; 
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2FBFD7;
    border-radius: 70px;
  }
  .circle7:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle8{
    left: 41.5%; 
    top: 240%;
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2FBFD7;
    border-radius: 70px;
  }
  .circle8:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle9{
    left: 10%; 
    top: 268%; 
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2FBFD7;
    border-radius: 70px;
  }
  .circle9:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle0{
    left: 80%; 
    top: 300%; 
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2FBFD7;
    border-radius: 70px;
  }
  .circle0:hover > .hove{
    width: 100px;
    height: 0 3px;
  }