body{
    margin: 0px;
    overflow-x: hidden;
  }
  .btn_back{
    top: 20px;
    margin-top: 20px;
    margin-right: 30px;
    height: 60px;
    border-radius: 45px;
    border-width: 7px;
    border-color: #9E6934;
    background-color: #BB9059;
    border-style: solid;
    color: white;
    width: 180px;
    font-size: 30px;
    float: right;
    font-family: 'Segoe UI';
    font-weight: bold;
    position: sticky;
    z-index: 1;
}
  
  .container{
    width: 100%;
    height: 2150px;
    background-image: url("/images/Progress_FilipinoBg.svg");
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-attachment: scroll;
    background-size: cover;
  }
  .hove{
    border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: white;
      font-size: 16px;
      transition: 0.7s;
      line-height: 110px;
      width: 0px;
      font-weight: bold;
  }
  
  div.circle1{
    position: absolute;
    left: 50%; 
    top: 31%; 
    background: #2f3640;
    transform: translate(-40%, -50%);
    border-radius: 70px;
    transition: 1s;
  }
  .circle1:hover > .hove{
    width: 150px;
    height: 0 3px;
  }
  .circle{
    width: 120px;
    height: 120px;
  }
  div.circle2{
    left: 30%; 
    top: 50%; 
    position: absolute;
    background: white;
    transform: translate(-40%, -50%);
    transition: 1s;
    background: #2f3640;
    border-radius: 70px;
  }
  .circle2:hover > .hove{
    width: 150px;
    height: 0 3px;
  }
  div.circle3{
    left: 80%; 
    top: 70%; 
    position: absolute;
    background: white;
    transform: translate(-40%, -50%);
    transition: 1s;
    background: #2f3640;
    border-radius: 70px;
  }
  .circle3:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle4{
    left: 17%; 
    top: 98%; 
    position: absolute;
    background: white;
    transform: translate(-40%, -50%);
    transition: 1s;
    background: #2f3640;
    border-radius: 70px;
  }
  .circle4:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle5{
    left: 42%; 
    top: 120%; 
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2f3640;
    border-radius: 70px;
  }
  .circle5:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle6{
    left: 82%; 
    top: 163%; 
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2f3640;
    border-radius: 70px;
  }
  .circle6:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle7{
    left: 30%; 
    top: 200%; 
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2f3640;
    border-radius: 70px;
  }
  .circle7:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle8{
    left: 42%; 
    top: 230%;
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2f3640;
    border-radius: 70px;
  }
  .circle8:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle9{
    left: 8%; 
    top: 266%; 
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2f3640;
    border-radius: 70px;
  }
  .circle9:hover > .hove{
    width: 130px;
    height: 0 3px;
  }
  div.circle0{
    left: 1020px; 
    top: 1800px; 
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    transition: 1s;
    background: #2f3640;
    border-radius: 70px;
  }
  .circle0:hover > .hove{
    width: 100px;
    height: 0 3px;
  }