body {
    color: #566787;
    background-image: url("/images/ice.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Segoe UI;
    font-weight: bold;
}
.header {
    padding: 10px 1px 5px;
    text-align: center;
    background: #191149;
    color: white;
    font-size: 60px;
  }
  .button {
    margin-top: -0%;
    margin-right: 1%;
    border-radius: 45px;
    border-width: 7px;
    border-color: #9BF9FD;
    background-color: #65C8EC;
    border-style: solid;
    color: white;
    width: 9%;
    font-size: 30px;
    float: right;
    font-family: 'Segoe UI';
    font-weight: bold;
    position: sticky;
    text-align: center; 
    
 }
.table-wrapper {
    width: 75%;
    background: #fff;
    padding: 0px 30px 5px;
    margin: 50px auto;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    border-collapse: collapse;
    border-spacing: 0;

}
.table-wrapper .btn-group {
    float: right;
}
.table-title .btn {
    min-width: 50px;
    border-radius: 1px;
    border: none;
    padding: 6px 12px;
    font-size: 100%;
    outline: none !important;
    height: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}
.table-title {
    border-bottom: 1px solid #000000;
    padding-bottom: 30px;
    background: #65C8EC;
    margin: -20px -31px 10px;
    padding: 15px 30px;
    color: #fff;
    

}
.table-title p {
    margin: 10px 0 0;
    font-size: 60px;
    text-align: center;
    
    
}
.table-title {
    position: sticky;
    top: 0;
}
table.table td{
    margin: 2px 0 0;
    font-size: 30px; 
    
}
table.table table-striped table-hover th{
    position: sticky;
    top: 0;
}
table.table th{
    margin: 2px 0 0;
    font-size: 35px; 
  
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 40px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-last-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table td a {
    color: #2196f3;
}
table.table td .btn.manage {
    padding: 2px 10px;
    background: #37BC98;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}
table.table td .btn.manage:hover {
    background: #2e9c81;
}


