body,
html {
    background-color: #ecb78b;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}

p {
    color: white;
}

h5 {
    color: white;
}

.column {
    padding: 10px;
}

.card-title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

a:hover {
    color: #e7e7e7;
    text-decoration: none;
}

/* change the background color */
.navbar {
    background-color: #d3803b;
    padding: 10px;
    color: white;
}

/* change the brand and text color */
.navbar-brand {
    font-family: 'Segoe UI,', sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 45%;
}

.navbar-back {
    font-family: 'Segoe UI,', sans-serif;
    color: white;
    margin: auto;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    border-radius: 34px;
    border-style: solid;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.card {
    max-width: 50%;
}

img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

div.b {
    position: absolute;
    right: 0;
    width: auto;
    height: auto;
}

.footer {
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 520px;
    left: 250px;
    background-repeat: repeat-x;
}

.container-fluid{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}