body{
    margin: 0px;
    /* overflow-x: hidden; */
}
.less{
  margin-left: -3%;
margin-top: -30px;
}

#pics1{
  height: 120px;
}

.btn_back{
  top: 20px;
  margin-top: 20px;
  margin-right: 30px;
  height: 60px;
  border-radius: 45px;
  border-width: 7px;
  border-color: #2FBFD7;
  background-color: #1D9CAD;
  border-style: solid;
  color: white;
  width: 180px;
  font-size: 30px;
  float: right;
  font-family: 'Segoe UI';
  font-weight: bold;
  position: sticky;
  z-index: 1;

}
.container{
    height: 1598px;
    width: 100%;
    background-image: url("/images/Ice\ Background.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .topics{
    margin: auto;
    width: 65%;
    padding: 80px;
  }    
  .pics{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .pics:hover, .pics:focus, .pics:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

