body{
    margin: auto;
    /* overflow-x: hidden; */
    overflow-y: hidden;
    background-color:#97B28B;
}
h1{
    margin-top: 200px;
    text-align: center;
    color: white;
}
.btn_next{
    margin-top: 10px;
    margin-right: 30px;
    float: right;
    height: 50px;
    border-radius: 45px;
    border-width: 5px;
    border-color: #704915;
    background-color: #0A3400;
    border-style: solid;
    color: white;
    width: 10%;
      font-size: 16px;
      font-family: 'Segoe UI' ;
      font-weight: bold;
    
}
.btnback{
    margin-top: 10px;
    margin-left: 30px;
    height: 50px;
    border-radius: 45px;
    border-width: 5px;
    border-color: #704915;
    background-color: #0A3400;
    border-style: solid;
    color: white;
    width: 10%;
      font-size: 16px;
      font-family: 'Segoe UI' ;
      font-weight: bold;
}
.sr{
    width: 600px;
    height: 555px;
}
.blackboard{
    background: url(/images/black.PNG);
    background-size: 680px 555px;
    background-repeat: no-repeat;
}

div.einstein{
    float: left;
    width: 500px;
    height: 500px;

}
div.blackboard{
    float: right;
    width: 700px;
    height: 600px;

}


  